[package]
name = "oursh"
version = "0.4.1"
edition = "2018"
authors = ["Nathan Lilienthal <nathan@nixpulvis.com>"]
description = "Modern, fast POSIX compatible shell"
readme = "README"
license = "MIT"
keywords = ["shell", "POSIX", "language", "lalrpop"]
categories = ["command-line-utilities", "parser-implementations"]
homepage = "https://nixpulvis.com/oursh/oursh"
repository = "https://github.com/nixpulvis/oursh"

# Compile our parser grammars.
build = "build.rs"

[badges]
maintenance = { status = "experimental" }
travis-ci = { repository = "https://github.com/nixpulvis/oursh" }

[features]
default = ["shebang-block", "raw", "history", "completion"]

# TODO: Justify and explain features.
shebang-block = []
completion    = []
history       = []
raw           = []

[dependencies]
docopt = "1"
dirs = "*"
lalrpop-util = "*"
nix = "*"
pwd = "1"
ctrlc = "*"
# Option 1: http://man7.org/linux/man-pages/man3/termios.3.html
#termios = "*"
# Option 2: http://ticki.github.io/blog/making-terminal-applications-in-rust-with-termion/
termion = "*"

[build-dependencies]
lalrpop = "*"

[dev-dependencies]
chrono = "*"
assert_matches = "1"
criterion = "*"

[[bench]]
name = "shebang_block"
harness = false

[[bench]]
name = "compare"
harness = false

[[bench]]
name = "piped"
harness = false
